<?xml version="1.0" encoding="utf-8"?>
<!-- This file the urdf for the pong system. -->

<robot name="pong_system" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--                                  THE FOLLOWING ARE THE PING PONG SYSTEM LINKS: ball_link paddle_link table_link                        -->
    <!--                                                                                                                                        -->
    <!--                                                                                                                                        -->
    <!--                                                                                                                                        -->

    <!-- World Link -->
    <link name="world"/>

    <xacro:include filename="$(find pong_gazebo_pkg)/models/table/table.xacro"/>

<!--    <xacro:include filename="$(find pong_gazebo_pkg)/models/ball/ball.xacro"/>-->


    <!--                                            THE FOLLOWING ARE THE PING PONG SYSTEM JOINTS:                                              -->
    <!--                                                                                                                                        -->
    <!--                                                                                                                                        -->
    <!--                                                                                                                                        -->

    <joint name="world_to_table_joint" type="fixed">
        <parent link="world"/>
        <child link="table_link"/>
        <origin xyz="0.75 -1 0" rpy="0 0 0" />
    </joint>

<!--&lt;!&ndash;    Temporary (for testing ball link gazebo properties&ndash;&gt;-->
<!--    <joint name="world_to_ball_joint" type="fixed">-->
<!--        <parent link="world"/>-->
<!--        <child link="ball_link"/>-->
<!--        <origin xyz="0 0 0" rpy="0 0 0" />-->
<!--    </joint>-->

</robot>